<header class="app-header">
    <div class="header__inner">
        <div class="logo">
            <a routerLink="/" aria-label="Ir a la página de inicio">
                PACTO
            </a>
        </div>
        
        <nav class="navigation">
             <ul class="nav-links">
                <li>
                    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
                </li>
                <li>
                    <a routerLink="/create" routerLinkActive="active">Crear Contrato</a>
                </li>
                <li>
                    <a routerLink="/my-contracts" routerLinkActive="active">Mis Contratos</a>
                </li>
            </ul>
        </nav>

        <div class="actions">
            <ng-container *ngIf="!(isConnected$ | async); else connectedState">
                <button
                    class="btn-connect-styled"
                    type="button"
                    (click)="connect()"
                    [disabled]="(isConnecting$ | async) || !(isMetaMaskInstalled$ | async)">
                    <span *ngIf="(isConnecting$ | async)">Conectando...</span>
                    <span *ngIf="!(isConnecting$ | async) && (isMetaMaskInstalled$ | async)">Conectarse</span>
                    <span *ngIf="!(isConnecting$ | async) && !(isMetaMaskInstalled$ | async)">Instalar MetaMask</span>
                </button>
                <img class="avatar" src="assets/avatar-placeholder.jpg" alt="User Avatar Placeholder">
            </ng-container>

            <ng-template #connectedState>
                <div class="user-info" *ngIf="userAddress$ | async as address">
                    <span class="user-address" [title]="address">{{ getDisplayAddress(address) }}</span>
                    <img
                        class="avatar avatar--connected"
                        [src]="avatarSrc$ | async"
                        alt="MetaMask Logo - Click para desconectar"
                        title="Desconectar Wallet"
                        (click)="logout()"
                    >
                </div>
            </ng-template>
        </div>
    </div>
</header>