<section class="create-contracts">
  <app-title></app-title>

  <app-file-upload (fileSelected)="onFileSelectedFromUpload($event)"></app-file-upload>
  <div *ngIf="compilationResult && !isCompiling" class="compilation-results">
    <h3>Contrato "{{ compilationResult.contractName }}" listo para despliegue.</h3>

    <div *ngIf="compilationResult.warnings && compilationResult.warnings.length > 0" class="status-message warnings-message">
        <h4>Advertencias de Compilación:</h4>
        <pre *ngFor="let warning of compilationResult.warnings">{{ warning }}</pre>
    </div>
  </div>

  <app-form
    [isCompilationDone]="!!compilationResult" 
    [isCurrentlyDeploying]="isDeploying" 
    (formSubmitted)="onSubmitFromAppForm($event)"> 
    </app-form>
</section>
